# Port the api will accept connections on.
PORT=xxxx
# Connection string to pass to mongoose.connect(). See MongoDB documentation.
MONGODB_CONNECT_STRING="mongodb+srv://<username>:<password>@<server>/?retryWrites=true&w=majority"